@media (max-width: 1024px) {
  .navbar-container {
    display: none;
  }

  .showcase-container {
    background: url("img/MOBILE.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  

    background-color: rgb(0,0,0,0.8);
    background-blend-mode: color-burn;

    h1 {
      font-size: 3rem;
      text-align: center;
      line-height: 3.3rem;
    }
    p {
      font-size: 0.965rem;
      text-align: center;
      padding: 0px 4px 8px 4px;
    }
  }
  .about-me-content {
    flex-direction: column;

    img {
      width: 260px;
      height: 260px;
      display: block;
      margin: 0 auto 20px auto;
    }
    p {
      text-align: center;
      font-size: 0.975rem;
      padding: 0px 15px;
    }
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .skills-content {
    display: block;
    margin-top: 50px;
    gap: 30px;
    & .skill-item {
      margin: 30px 15px;
    }
  }

  .projects {
    margin: 30px 15px;

    & .projects-item {
      flex-direction: column;
      margin-bottom: 30px;

      & img {
        order: 3;
        width: 100%;
        height: auto;
      }
      h3 {
        order: 2;
      }
      p {
        order: 1;
      }
    }

    .contact-form {
      margin: 30px 15px;
      width: 480px;
    }
  }

  /* Utilites*/

  .section-container {
    & .section-content {
      padding: 50px 30px;
      & .section-title {
        margin-top: 4px;
        font-size: 2rem;
      }
    }
  }

  .form-input {
    margin-bottom: 20px;
  }
}
