* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, poppins, sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: flex-end;
  width: 100%;
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0;

  ul {
    display: flex;
    list-style: none;
    font-weight: 600;
    padding: 20px 0px;
    align-items: center;

    li {
      text-transform: uppercase;
      color: white;
      letter-spacing: 0.1rem;
      margin-right: 30px;
      opacity: 50%;
      transition: opcacity 0.3s ease-in-out;

      &:hover {
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}

/* Showcase Container*/

.showcase-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("img/showcase.jpg");
  background-size: cover;
  background-position: center;

  background-color: rgb(0, 0, 0, 0.6);
  background-blend-mode: color-burn;

  h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    color: #eee;
    margin-top: 8px;
    font-size: 1.25rem;
    padding: 0px 8px 8px 8px;
    border-bottom: 1.5px solid white;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
}

/* ABOUT ME */

.about-me-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  & img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
  }

  p {
    color: white;
    line-height: 1.5rem;
  }
}

/* SKILLS */

.skills-content {
  display: flex;
  margin-top: 108px;
  justify-content: space-between;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;

  & .skill-item {
    background-color: #202020;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      color: white;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 1.25rem;
      font-weight: 600;
    }

    p {
      color: #bbb;
      line-height: 1.5rem;
    }
    img {
      margin-top: 15px;
      width: 80px;
      height: 80px;
    }
  }
}

/* PROJECTS */

.projects {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 920px;

  & .projects-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
    img {
      width: 300px;
      height: 200px;
      border-radius: 15px;
    }

    h3{
      color: white;
      font-weight: 700;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p{
      color: white;
      line-height: 1.5rem;
    }
  }
}

/* FORM */

.contact-form{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .form-input{
    margin-bottom: 20px;
  }
}

/* FOOTER */

footer{
  width: 100%;
  height: 10vh;
  background-color:black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #eee;

  
}

/* Utilites*/

.section-container {
  width: 100%;
  background-color: #111;

  & .section-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;

    & .section-title {
      color: #fff;
      margin-top: 8px;
      font-size: 3rem;
      padding: 0px 8px 8px 8px;
      border-bottom: 1.5px solid white;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      text-align: center;
      width: fit-content;
      margin: auto;
    }
  }
}

  .form-input{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #202020;
    color:rgb(250, 250, 250, 0.5);
    resize: none;
  }

  .form-button{
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:focus{
      outline: 1px solid rgb(250, 250, 250, 0.5);
    }

    &:hover{
      background-color: #333;
      color: black;
    }
  }
