* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, poppins, sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: flex-end;
  width: 100%;
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0;

  ul {
    display: flex;
    list-style: none;
    font-weight: 600;
    padding: 20px 0px;
    align-items: center;

    li {
      text-transform: uppercase;
      color: white;
      letter-spacing: 0.1rem;
      margin-right: 30px;
      opacity: 50%;
      transition: opcacity 0.3s ease-in-out;

      &:hover {
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}

/* Showcase Container*/

.showcase-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("img/showcase.jpg");
  background-size: cover;
  background-position: center;

  background-color: rgb(0, 0, 0, 0.6);
  background-blend-mode: color-burn;

  h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    color: #eee;
    margin-top: 8px;
    font-size: 1.25rem;
    padding: 0px 8px 8px 8px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
}

.about-me-content {
  display: flex;
  align-items: center;
  img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-right: 20px;
  }

  p {
    color: white;
    line-height: 1rem;
  }
}

/* Utilites*/

.section-container {
  width: 100%;
  background-color: #111;
  padding-top: 120px;
  padding-bottom: 120px;

  & .section-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    & .section-title {
      color: #eee;
      margin-top: 8px;
      font-size: 1.25rem;
      padding: 0px 8px 8px 8px;
      border-bottom: 1px solid white;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      text-align: center;
      width: fit-content;
      margin: auto;
    }
  }
}
